@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mouseX: 0;
  --mouseY: 0;
  --light-txt: hsl(31, 70%, 85%);
  --amber-950: rgb(54 23 5);
  --amber-900: hsl(22, 78%, 20%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  overscroll-behavior: none;
}

body {
  height: 100vh;
  color: var(--light-txt);
  background: linear-gradient(to bottom, rgb(34, 14, 0), black);
}

.navbar {
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0;
  translate: 0 -20px;
  animation: nav-in 500ms ease forwards;
}
@media (max-width: 530px) {
  .page-full {
    width: auto;
    margin-inline: 1rem;
    margin-block-start: 10rem;
    margin-block-end: 5rem;
  }
  .nav-title {
    color: transparent;
    white-space: nowrap;
    width: 4rem;
  }
  .nav-title::before {
    color: var(--light-txt);
    display: block;
    content: "J. W.";
    position: absolute;
    margin: auto;
  }
  .nav-btns {
    flex-direction: column;
  }
}

.nav-glow::before {
  position: absolute;
  background: radial-gradient(
    300px circle at var(--mouseX) var(--mouseY),
    #f59e0b,
    transparent 40%
  );
  border-radius: inherit;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: lighten;
  opacity: 0;
  transition: opacity 200ms ease, background-color 200ms ease;
}

.nav-glow2 {
  background: radial-gradient(
    800px circle at 0 0,
    var(--amber-900),
    var(--amber-950) 40%
  );
}

.nav-glow2::before {
  position: absolute;
  background: radial-gradient(
    800px circle at var(--mouseX) var(--mouseY),
    #f59e0b,
    transparent 50%
  );
}

.project-card:hover > span > img,
.project-card:focus > span > img {
  --tw-blur: blur(0);
  filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.5));
}

.card-blur > span > img {
  --tw-blur: blur(2px);
}

.nav-glow2:hover::before {
  opacity: 0.3;
}

.navbar.nav-glow:hover::before {
  opacity: 0.6;
}

.nav-glow:hover::before {
  opacity: 0.3;
}
a:focus > .nav-glow {
  background-color: hsl(23, 86%, 8%);
  animation: nav-btn-click 300ms ease-out forwards;
}

@keyframes nav-btn-click {
  50% {
    background-color: hsl(34, 92%, 24%);
  }
  100% {
    background-color: #261003;
  }
}

@keyframes nav-in {
  100% {
    opacity: 100%;
    translate: 0 0;
  }
}

.pagefull {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(34, 14, 0) 30% 60%,
    transparent 100%
  );
}

.project-card {
  position: relative;
}
